<div>
    <nav class="navbar navbar-light" style="background-color: #95c043 ;">
        <div class="container-fluid">
            <a class="navbar-brand" class="letra">
                <div style="display: inline-block; margin-right: 15px;">
                    <img src="../assets/decoration/ocjma.png" alt="" width="50" height="50"
                        class="d-inline-block align-text-top">
                </div>
                <div style="display: inline-block;">
                    <img src="../assets/decoration/Cabecera-remove.png" alt="" width="200" height="50"
                        class="d-inline-block align-text-top">
                </div>
            </a>
            <form class="d-flex">
                <button class="btn btn btn-danger" type="submit">Nuevo</button>
            </form>
        </div>
    </nav>
</div>
<body>
    

    <!-- <button class="btn btn-danger" (click)="openDialog()">Abrir Popup</button> -->

    <table class="table margin">
        <tbody>
            <tr>
                <td *ngFor="let a of vector" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector2" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector3" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector4" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector5" class="carta" >
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector6" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector7" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
            </tr>
            <tr>
                <td *ngFor="let a of vector8" class="carta">
                    <img src={{a.url}} alt="img" height="80" width="80">
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="row">

                        <div class="col-4 centrarsito">
                            <button class="btn" style="background-color: #a4ef19 ;" (click)="openDialog()">Bingo</button>
                        </div>
                        <div class="col-8">
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
    </table>

</body>
